.List {
    color:#9fa8da indigo lighten-3;
  }
  
  table {
    border-spacing: 7px;
    background-color: rgb(155, 147, 147);
  }
  
  th { 
    text-align: center;
    padding: 10px;
    background: #FCE4EC;
  }
  
  td {
    text-align: center;
    background: #F00;
    padding: 10px;
    background: #FCE4EC;    
  }
      
  tr {
    text-align: center;
  }
  
  div {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    text-align: center;
  }

  h4 {
      color: #F00;
  }
  
  .myButton {
    padding: 10px;
    display:block;
    background-color:rgb(155, 147, 147);
    color: rgb(19, 18, 18);
    text-align:center;
    position: absolute;
    top: 12px;
    right: 20px;
  }
