.List {
    color:#9fa8da indigo lighten-3;
  }
  
  table {
    border-spacing: 7px;
  }
  
  th { 
    text-align: center;
    padding: 10px;
    background: rgb(190, 192, 194);    
  }
  
  td {
    text-align: center;
    background: #F00;
    padding: 10px;
    background: rgb(190, 192, 194);    
  }
      
  tr {
    text-align: center;
  }
  
  div {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    text-align: center;
  }

  h4 {
      color: #F00;
  }
